################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmailSolution/DesignTimeBuild
/.vs/EmailSolution/v16
/.vs/QuickMailPackage/v16
/.vs
